:root {
  --Dark_Violet: #2d2640;
  --Grayish_Blue: #95a9c6;
  --Very_Dark_Violet: #2b272f;
  --Dark_Grayish_Violet: #837d87;
  --Very_LightGray: #fafafa;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("/assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: "Karla";
  src: url("/assets/fonts/Karla/static/Karla-Regular.ttf");
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: "DM Serif Display", "Dej_Vu Serif";
  src: url("/assets/fonts/Karla/static/Karla-Bold.ttf");
  font-weight: 700;
  font-display: optional;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: "Karla";
}

main {
  width: 100%;
  min-height: 100%;
}

hr {
  display: none;
}

.resetBtnStyle {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.invisible {
  display: none !important;
}

nav {
  padding: 10px 0px;
}

nav > .content {
  display: flex;
  align-items: center;
}

.content {
  width: 85%;
  margin: 0 auto;
}

/*remove on mobile view*/
.navItems {
  display: none;
  margin-left: auto;
}

.navItems li {
  display: inline;
  margin-left: 10px;
}

.navBtn {
  color: var(--Dark_Grayish_Violet);
}

.navBtn:hover {
  color: var(--Very_Dark_Violet);
}

nav .viewPlanBtn {
  border:2px solid var(--Very_Dark_Violet);
  color: var(--Dark_Violet);
}

nav .viewPlanBtn:hover {
  background-color: var(--Very_Dark_Violet);
  color: var(--Very_LightGray);
}

.dropDownMenu {
  height: min(130vw, 70vh);
  padding-top: 50px;
  background-color: var(--Very_Dark_Violet);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dropDownBG {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 60%;
}

.dropDownBtn {
  font-weight: 700;
  color: var(--Very_LightGray);
}

.openDropDownBtn,
.closeDropDownBtn {
  margin-left: auto;
}

.dropDownMenu .viewPlanBtn {
  border: 2px solid var(--Very_LightGray);
  color: var(--Very_LightGray);
}

.dropDownMenu .viewPlanBtn:hover {
  background-color: var(--Very_LightGray);
  border-color: var(--Very_Dark_Violet);
  color: var(--Very_Dark_Violet);
}

/*intro*/

/* .intro {
  background-color: var(--Dark_Violet);
  color: var(--Very_LightGray);
}

.intro .content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.left {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.left .heading {
  font-family: "DM Serif Display";
  font-size: calc(2.5rem + 2vw);
  line-height: 1.1;
}

.left .description {
  font-size: calc(1rem + 0.2vw);
}

.introImageDesktop {
  display: none;
}

.intro .viewPlanBtn {
  border-color: var(--Very_LightGray);
  color: var(--Very_LightGray);
  max-width: 200px;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.right {
  order: -2;
}

.introImageMobile {
  width: 100%;
  object-fit: contain;
} */

@media only screen and (min-width: 720px) {
  hr {
    display: initial;
    width: 200px;
    border-color: white;
  }

  .content {
    margin: 0 auto;
  }
  .dropDownMenu,
  .closeDropDownBtn,
  .openDropDownBtn {
    display: none;
  }

  .navItems {
    display: initial;
  }

  /*intro*/

  /* .intro .content {
    grid-template-rows: initial;
    grid-template-columns: 1fr 1fr;
  }

  .left {
    align-items: flex-start;
    text-align: initial;
    width: 100%;
  }

  .left .heading,
  .left .description {
    margin: 0;
  }
  .left .description {
    width: 80%;
  }

  .right {
    order: 1;

    position: relative;
  }

  .introImageMobile {
    display: none;
  }

  .introImageDesktop {
    display: initial;
    position: relative;
    bottom: -100px;
    max-width: 100%;
  } */
}
